*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

p,
input,
button {
  font-size: 1.3rem;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(250, 240, 230, 0.3),
      rgba(250, 240, 230, 0.2)
    ),
    /* Transparent overlay */
      url("https://images.unsplash.com/photo-1714558448076-76c5163fc2db?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container,
.output-container {
  background-color: hsl(34, 78%, 91%);
  border: 10px outset hsl(34, 78%, 95%);
  color: #222;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input-container {
  height: 10rem;
  width: 38rem;
}

.input-container__f&b {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

input,
button {
  height: 2rem;
  width: 6rem;
  font-family: inherit;
}

input {
  padding-left: 0.9rem;
}

button:hover {
  cursor: pointer;
}

.output-container {
  height: 5rem;
  width: 38rem;
}

.hidden {
  display: none;
}
